<div class='container'>
  <div class='jumbotron'>
    <h1>
      <span class='fa fa-fw fa-2x fa-user-times'></span>
      <br/>
      Not Authorized
    </h1>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='well well-md'>
        <h5>I don't think you're supposed to be here :) <%= link_to "Go Back.", :back %></h5>
      </div>
    </div>
  </div>
</div>
