// Place all the styles related to the Realms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {

}
.jumbotron {
  margin-top: 20px;
}
.panel, .panel-title {
  text-align: center;
}

#realm-table tr {
  cursor: pointer;
  transition: background 0.25s, color 0.25s;
}

#realm-table tr:hover {
  color: #000000;
}

.modal-dialog {
  width: 80%;
}
